@model HotelService.Models.Base.User

@{
    ViewData["Title"] = $"{Model.NormalizedUserName}";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">

    <h3>Вы уверены, что хотите удалить пользователя?</h3>
    <div>
        <hr />

        <table class="table table-hover table-bordered table-striped align-middle text-center">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BirthDate</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
            <tr>
                <th>@Model.FirstName</th>
                <th>@Model.LastName</th>
                @if (Model.BirthDate != null)
                {
                    <th>@Model.BirthDate</th>
                }
                else
                {
                    <th>-</th>
                }
                <th>@(Model.Gender??"-")</th>
                <th>@Model.NormalizedEmail</th>
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="submit" value="Удалить" class="btn btn-danger w-100" />
        </form>
    </div>

</div>
