@inject SignInManager<User> m_SignInManager
@inject UserManager<User> m_UserManager
@using Microsoft.EntityFrameworkCore
@model User
@{
    ViewData["Title"] = $"{Model.NormalizedUserName}";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}
<div class="container">
    <h2 class="text-center">User @Model.LastName</h2>
    <hr />
    <div class="text-center">
        <dl class="dl-horizontal">
            <dt>Идентификатор</dt>
            <dd>@Model.Id</dd>

            <dt>Имя</dt>
            <dd>@Model.FirstName</dd>

            <dt>Фамилия</dt>
            <dd>@Model.LastName</dd>

            <dt>Дата рождения</dt>
            @if (Model.BirthDate != null)
            {
                <dd>@Model.BirthDate</dd>
            }
            else
            {
                <dd>Не указана</dd>
            }

            <dt>Телефон</dt>
            <dd>@(Model.PhoneNumber??"Не указан")</dd>

            <dt>Email</dt>
            <dd>@Model.Email</dd>


            <dt>Пароль</dt>
            <dd>@Model.PasswordHash.Substring(1, 10)</dd>

            <dt>Роли</dt>
            @{
                var Roles = await m_UserManager.GetRolesAsync(Model);
                if (Roles.Any())
                {
                    foreach (var Role in Roles)
                    {
                        <dd>@Role</dd>
                    }
                }
                else
                {
                    <dd>Не состоит</dd>
                }
            }

        </dl>
    </div>
</div>
