@model HotelService.Models.Base.ServiceCategory
@{
    ViewData["Title"] = "Add Category";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <form asp-action="CreateEdit" asp-controller="ServiceCategory" asp-route-id="@Model.Id" method="post" onsubmit="return jQueryAjaxPost(this);">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImagePath" />
        <div class="row">
            <div class="col-md-6">
                @* Title *@
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-bookmark"></i>
                        </span>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Обязательно" />
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                @* Subtitle *@
                <div class="form-group">
                    <label asp-for="Subtitle" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="far fa-bookmark"></i>
                        </span>
                        <input type="text" asp-for="Subtitle" class="form-control" />
                    </div>
                    <span asp-validation-for="Subtitle" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @* SubCategoryId *@
                <div class="form-group">
                    <label asp-for="SubCategoryId" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-bars"></i>
                        </span>

                        <select asp-for="SubCategoryId" asp-items="ViewBag.SelectCategories" class="form-select">
                            @if (@Model.SubCategory == null)
                            {
                                <option selected="selected" disabled="disabled" value="">Отсутствует</option>
                            }
                            else
                            {
                                <option selected="selected" value="@Model.SubCategory.Id">@(Model.SubCategory.Title)</option>
                                <option value="">None</option>
                            }

                        </select>
                    </div>
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
               <div class="card">
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-8">
                @* ImagePath *@
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-camera"></i>
                        </span>
                        <input name="imagePath" class="form-control" type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .svg">
                    </div>
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>

                @* AvailableState *@
                <div class="form-group my-5 p-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="AvailableState">
                        <label class="form-check-label" asp-for="AvailableState"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <label class="control-label">@(Model.ImagePath??"Не задано")</label>
                <div>
                    @if (Model.ImagePath != null)
                    {
                        <figure class="figure">
                            <img src="..." class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
                        </figure>
                        <img src="~/@Model.ImagePath" class="img-thumbnail" width="300" height="300" alt="Image @Model.ImagePath">
                    }
                    else
                    {
                        <img src="~/img/error.png" class="img-thumbnail" width="300" height="300" alt="Image @Model.ImagePath">
                    }
                </div>
            </div>
        </div>

        <div class="row">
            @* Description *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fas fa-user-edit"></i>
                    </span>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-success w-100" onsubmit="return jQueryAjaxPost(this);" />
        </div>
    </form>
</div>
