@model HotelService.Models.Base.ServiceCategory
@{
    ViewData["Title"] = $"{Model.Title}";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}
<div class="container">
    <h2 class="text-center">Service @Model.Title</h2>
    <hr/>
    <div class="text-center">
        <dl class="dl-horizontal">
            <dt>Identification</dt>
            <dd>@Model.CategoryId</dd>

            <dt>SubCategoryId</dt>
            <dd>
                @if (@Model.SubCategory != null)
                {
                <a onclick="showInPopup('@Url.Action("Details", "ServiceCategory", new {id = Model.SubCategoryId}, Context.Request.Scheme)', 'Details @Model.SubCategory.Title')" class="btn btn-info text-white">
                    <i class="fas fa-pencil-alt"></i> @Model.SubCategory.Title
                </a>
                }
                else
                {
                    <code class="text-danger">Not set (NULL)</code>
                }
            </dd>

            <dt>Title</dt>
            <dd>@Model.Title</dd>

            <dt>Subtitle</dt>
            <dd>@Model.Subtitle</dd>

            <dt>Image</dt>
            <dd>@Model.ImagePath</dd>


            <dt>Description</dt>
            <dd>@Model.Description</dd>
        </dl>
    </div>
</div>
