@model HotelService.Models.Base.Service
@{
    ViewData["Title"] = $"{Model.Title}";
    //Layout = "/Areas/Admin/_AdminLayout.cshtml";
}
<div class="container">
    <h2 class="text-center">Service @Model.Title</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Идентификатор:</dt>
                <dd>@Model.Id</dd>

                <dt>Подкатегория:</dt>
                <dd>
                    @if (@Model.ServiceCategory != null)
                    {
                        <a onclick="showInPopup('@Url.Action("DetailsCategory", "Catalog", new {id = Model.ServiceCategoryId}, Context.Request.Scheme)', 'Details @Model.ServiceCategory.Title')" class="btn btn-info text-white">
                            <i class="fas fa-pencil-alt"></i> @Model.ServiceCategory.Title
                        </a>
                    }
                    else
                    {
                        <code class="text-danger">Отсутствует</code>
                    }
                </dd>

                <dt>Заголовок:</dt>
                <dd>@Model.Title</dd>



            </dl>
        </div>

        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>Подзаголовок:</dt>
                <dd>@Model.Subtitle</dd>

                <dt>Стоимость:</dt>
                <dd>@Model.Cost.ToString("C")</dd>
            </dl>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" asp-for="RepeatState" disabled>
                        <label class="form-check-label" asp-for="RepeatState"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" asp-for="AvailableState" disabled>
                        <label class="form-check-label" asp-for="AvailableState"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <label class="control-label">@(Model.ImagePath ?? "Не задано")</label>
            <div>
                @if (Model.ImagePath != null)
                {
                    <img src="~/@Model.ImagePath" class="img-thumbnail" width="300" height="300" alt="Image @Model.ImagePath">
                }
                else
                {
                    <img src="~/img/error.png" class="img-thumbnail" width="300" height="300" alt="Image @Model.ImagePath">
                }
            </div>
        </div>
        <div class="col-md-6">
            <dt>Описание:</dt>
            @if (@Model.Description != null)
            {
                <dd>@Model.Description</dd>
            }
            else
            {
                <code class="text-danger">Отсутствует</code>
            }
        </div>
    </div>
</div>
