
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/_AdminLayout.cshtml";
}

@using HotelService.Models.Base
@model IEnumerable<IdentityRole>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>


    <div class="container col-xxl-8">
        <div class="row flex-lg-row align-items-center">
            <div class="col-6 col-sm-12 col-lg-6">
                <img src="~/img/Home/card.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
            </div>
            <div class="col-6 col-lg-6 col-sm-12">
                <h1 class="display-5 fw-bold lh-1 mb-3">Управление учетными записями</h1>
                <p class="lead">Будьте внимательны при добавлении новых пользователей, не задавайте поле Пароль, если не хотите его изменить.</p>
            </div>
        </div>
    </div>

<div class="row g-4">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive p-1">
                    <table id="categories_table"
                           class="table table-striped table-hover table-bordered align-middle data-table"
                           style="width: 100%">

                        <thead class="text-center">
                            <tr class="table-dark">
                                <th>Идентификатор</th>
                                <th>Название</th>
                                <th>Членство</th>
                                <th class="non-orderable">Управление</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var Role in Model)
                            {
                                <tr>
                                    <td>@Role.Id</td>
                                    <td>@Role.Name</td>
                                    <td identity-role="@Role.Id"></td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit"
                                           asp-route-id="@Role.Id"><i class="fas fa-pen"></i> Edit</a>

                                        <a onclick="showInPopup('@Url.Action("Delete", "Role", new {id = Role.Id}, Context.Request.Scheme)', 'Удалить @Role.Name')" class="btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12"></div>
</div>

